@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin:0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{

	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: #ededed;
	
}




}
#videos_options{
	position: relative;
}
#options{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: none;
	z-index: 9999;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
#video{
	box-shadow:  20px 20px 60px #d7c9c9,
             -20px -20px 60px #ffffff;
            width: 50vw;
            height: 50vh;


}
.buttons{
	cursor: pointer;
	padding: 0.6em 0.6em;
    border:1px solid #bdbdbd87;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:1em;
    font-weight: 500;
    border-radius: 50px;

}
.buttons img{
	margin : 0 0.2em;
}
.buttons:hover{
	font-size: 1.02em;
	
}
@media (max-width: 1024px){
	#video{
		width: 98vw;
		height: 30vh;

	}
}